go 1.26.6

use (
	./common
	./connector/stsservicegraphconnector
	./connector/topologyconnector
	./exporter/clickhousestsexporter
	./exporter/stskafkaexporter
	./exporter/stsk8slogsexporter
	./exporter/ststopologyexporter
	./extension/servicetokenauthextension
	./extension/stslogsagentextension
	./extension/settingsproviderextension
	./processor/stsusageprocessor
	./receiver/k8sresourcereceiver
	./test/e2e
	./test/logsagent
)

replace github.com/ua-parser/uap-go => ./third_party/uap-go

replace github.com/scaleway/scaleway-sdk-go => ./third_party/scaleway-sdk-go
