go 1.21.6

use (
	./common
	./exporter/clickhousestsexporter
	./exporter/stackstateexporter
	./extension/stsapitokenextension
	./extension/stsauthenticationextension
	./processor/stackstateprocessor
)
