go 1.22.0

use (
	./common
	./connector/stsservicegraphconnector
	./connector/tracetotopoconnector
	./exporter/clickhousestsexporter
	./exporter/stskafkaexporter
	./exporter/ststopologyexporter
	./extension/servicetokenauthextension
	./extension/settingsproviderextension
	./processor/stsusageprocessor
	./test/e2e
)
